#page {
	height:350px;
}

#confidenceQuestion {
	float:left;
	width:100%;
}

#confidenceQuestion fieldset {
	border:none;
	margin-bottom:50px;
}

#confidenceQuestion #compare {
	border:0px solid cyan;
	margin-top:60px;
	line-height:150%;
	text-align:center;
}

#confidenceQuestion #optionBlock {
	position:relative;
	width:490px;
	margin:0 auto;
	padding-left:15px;
}

#confidenceQuestion .optionHolder {
	width:96px;
	border: solid 0px red;
	display:inline-block;
	text-align:center;
	padding:0;
	margin:-1px;
	vertical-align:top;
}

#confidenceQuestion label {
	position:absolute;
	width:100px;
	margin-top:-145px;
	padding-top:165px;
	margin-left:-60px;
}

#submitHolder {
	text-align:center;
	padding-left:15px;
}

#feedbackSide {
	 float:right;
	 margin-top:20px;
}

#dialog-message {
	display:none;
}

#dialog-message img {
	width:230px;
	float:right;
	margin-bottom:10px;
}

.ui-icon {
	float:left;
	margin:0 7px 7px -25px;
}

.confidenceFeedback {
	width:550px;
}