/* read the contract page */

.hideFromScreen {
	color:#fff !important;
	cursor:pointer;
}
#agreementBackground {
	width:645px;
	height:420px;
	top:32px;
	position:relative;
	background-image:url('../images/LCA_Mast_AG_Box_MA_new.png');
	background-repeat:no-repeat;
}

#readTheContractPage {
	position:relative;
	height:340px;
	width:960px;
	height:440px;
	margin-top:15px;	
	margin-left:-25px;
}

#agreementDiv {
	position:relative;
	width:645px;
	height:442px;
	display:inline-block;
}

#primaryArticle {
	display:inline-block;
	position:absolute;
	width:100px;
	top:30px;
	left:0;
}

#primaryHeading {
	 display:inline-block;
	 width:100px;
	 text-align:center;
	 position:absolute;
	 left:0;
	 top:0;
}

#primaryLink {
	display:inline-block;
	width:100px;
	position:absolute;
	left:0;
	top:60px;
	text-align:center;
}

#relatedArticles {
	display:inline-block;
	position:absolute;
	top:120px;
	left:0;
}

#relatedHeading {
	display:inline-block;
	width:100px;
	text-align:center;
	postion:absolute;
	left:0;
	top:10px;	
}

#relatedLinks {
	display:inline-block;
	width:100px;
	height:100px;
	position:absolute;
	left:0;
	top:70px;
	text-align:center;
}

#masterAgreement {
	display:inline-block;
	position:absolute;
	top:0;
	left:100px;
}

#masterHeading {
	display:inline-block;
	position:absolute;
	top:0;
	left:15px;
	width:520px;
	text-align:center;
}

#masterBox {
	display:inline-block;
	position:absolute;
	top:40px;
	left:15px;
	width:520px;
	height:400px;
	overflow-y:auto;
}

#doc {
	visibility:hidden;
}

#policy {
	display:inline-block;
	position:absolute;
	top:244px;
	left:650px;
}

#policyBackground {
	width:315px;
	height:170px;
	top:32px;
	position:absolute;
	background-image:url('../images/LCA_Mast_AG_Box_VAP_new.jpg');
	background-repeat:no-repeat;
}

#policyHeading {
	display:inline-block;
	width:310px;
	text-align:center;
}

#policyBox {
	display:inline-block;
	height:158px;
	overflow-y:auto;
	width:292px;
	position:relative;
	padding: 0 5px 0 15px;
	margin-top:13px;
}


#doc a, #doc a:hover, #doc a:focus, #doc a:visited { 
	color:#000;
	text-decoration: none;
}

#doc h4 {
	padding-top:15px;
}

#readTheContractPage p+ul, #readTheContractPage p+ol {
	margin-top:0;
}

#lawsCol1 li,
#lawsCol2 li {
	margin-top:8px;
}

/* end read the contract page */