/*splash page*/
.splashHolder{
	vertical-align:middle;
	position:relative;
	height:575px;
}

.splashImage{
	margin-top:-16px;
	margin-left:-38px;
}

.splashTextBox{
	position:relative;
	margin-top:-150px;
}

.splashArticle{
	text-align:center;
	color: #3b2632;
	font-weight:bold;
	font-size:2.4em;
	margin:0
}

.splashTitle{
	text-align:center;
	color: #3b2632;
	font-weight:bold;
	font-size:3.0em;
	margin:0
	
}


/* end splash page */