/*recall page*/

#recallPage #page {
	height:350px;
}
#recallPage #instructionsDiv {
	display:block;
	height:50px;
}
#recallPage #instructions2 {
	display:none;
}
#recallPage  #questionSide {
	width:600px;
	float:left;
	line-height:200%;
}
#recallPage .chunkHolder {
	white-space:nowrap;
}
#recallPage .entrySpace {
	display: none;
	line-height: 100%;
	width:100%;
}
#recallPage label {
	white-space:normal;
}

#recallPage .smallInput {
	display:inline-block;
	width:83px;
	margin-right:6px;
}
#recallPage .medInput {
	display:inline-block;
	width:150px;
	margin-right:6px;
}
#recallPage .largeInput {
	display:inline-block;
	width:250px;
	margin-right:6px;
}
#recallPage .xlargeInput {
	display:inline-block;
	width:350px;
	margin-right:6px;
}
#recallPage .xxlargeInput {
	display:inline-block;
	width:450px;
	margin-right:6px;
}
#recallPage .xxxlargeInput {
	display:inline-block;
	width:600px;
	margin-right:6px;
}
#recallPage .xxxxlargeInput {
	display:inline-block;
	width:650px;
	margin-right:6px;
}


#recallPage .maText {
	display: inline-block;
	border: solid 1px black;
	width: 150px;
}
#recallPage .maText .sm {
	width:50px;
}
#recallPage .maText .med {
	width:150px;
}

#recallPage .hiddenText {
	color: red;
	top: -500px;
	left: -520px;
	position: absolute;
}

.userAnswer {}

#recallPage input {
	width:100%
}

#recallPage .maText {
	padding: 3px;
	width:100%
}

#recallPage .fieldset {
	border:none;
}

#recallPage #compare {
	border:0px solid cyan;
	top:30px;
}
#recallPage #feedbackSide {
	float:right;
}
#recallPage #feedbackAnswers {
	display:none;
	width:250px;
	top:-50px;
	text-indent:-25px;
}

/* end recall page */